.navstyle
{
    background-color: #3C2F0E;
    color: bisque;
    font-family:'Times New Roman', Times, serif;

}

.imgcent
{
    display: flex;
 
align-items:center;
}

.row
{
margin: 10px;
}

.sele
{
font-size: x-large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: chartreuse;
}