.belt {
  width: 100%;
  display: flex;
}

.belt img {
  width: 20%;
  height: 20vh;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .belt {
    flex-direction: column;
  }

  .belt img {
    width: 100%;
    height: 100%;
  }
}
