* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  margin: 0;
}

:root {
  --bg-main: #f2d2bd;
  --bg-secondary: #6b5d54;
  --text-offwhite: #faf9f6;
  --text-second: #000000;
  --not-active: 80%;
}

body {
  background-color: var(--bg-main);
}
