* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

.root {
  margin: 0;
}
.font-nav {
  font-size: 1.2rem;
}

#navbar {
  color: white;
}

.bg-bisque {
  background-color: #f2d2bd;
}

.bg-nav {
  background-color: #6b5d54 !important;
}

#logo {
  width: 50px;
  filter: saturate(50%) sepia(25%);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  outline: none;
  border: none;
  margin-left: 10px;
  width: 35px;
  height: 35px;
  background-color: #f2d2bd;
  border-radius: 50%;
}
.box:hover {
  scale: 1.1;
}

.hero img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.test {
  height: 200vh;
  width: 100vw;
}
